kafkaBroker:
  bootstrapNode:
    hostname: "kafka.train.svc.cluster.local"
    port: 9094
  username: ""
  password: ""

global:
  imageRegistry: ""
  namespace: "train"

monitoringApp:
  enabled: false
  image:
    registry: quay.io
    repository: mouachan/train-monitoring-app-arm64
    tag: latest
    digest: ""
    pullPolicy: Always
kafka:
  enabled: false
  image:
    registry: docker.io
    repository: apache/kafka
    tag: "4.1.0"
    digest: ""
    pullPolicy: Always
mosquitto:
  image:
    registry: docker.io
    repository: library/eclipse-mosquitto
    tag: latest
    digest: ""
    pullPolicy: Always
captureApp:
  image:
    registry: quay.io
    repository: demo-ai-edge-crazy-train/train-capture-image-app
    tag: latest
    digest: ""
    pullPolicy: Always
intelligentTrain:
  image:
    registry: quay.io
    repository: demo-ai-edge-crazy-train/intelligent-train
    tag: latest
    digest: ""
    pullPolicy: Always
ceqApp:
  image:
    registry: quay.io
    repository: demo-ai-edge-crazy-train/train-ceq-app
    tag: latest
    digest: ""
    pullPolicy: Always
trainController:
  image:
    registry: quay.io
    repository: demo-ai-edge-crazy-train/train-controller
    tag: latest
    digest: ""
    pullPolicy: Always
